fastapi
uvicorn[standard]
black
ruff
pytest
httpx
sqlalchemy[asyncio]
alembic
asyncpg
pydantic-settings
boto3
redis
python-dotenv
psycopg2-binary
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
python-multipart
passlib[bcrypt]
Pillow
pytesseract
pytest-asyncio
httpx
insightface
onnxruntime
opencv-python
numpy
